<h1><%= t 'file_groups.h1'%></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t 'group.name' %></th>
      <th><%= t 'group.description' %></th>
      <th><%= t 'group.position' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_groups.each do |file_group| %>
      <tr>
        <td><%= file_group.name %></td>
        <td><%= file_group.description %></td>
        <td><%= file_group.position %></td>
        <td><%= link_to t('index.show'), file_group_path(file_group) %></td>
    <% end %>
  </tbody>
</table>



