<h2>
  <%= t('group.name') %>:
  <strong><%= @file_group.name %></strong>
</h2>

<h4>
  <strong><%= t('group.description') %>:</strong>
  <%= @file_group.description %>
</h4>

<p>
  <strong><%= t('group.position') %>:</strong>
  <%= @file_group.position %>
</p>
<br>
<br>
<% if @file_group.documents.present? %>
  <h2><%= t('document.title') %></h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('document.name') %></th>
        <th><%= t('document.position') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @file_group.documents.each do |document| %>
        <tr>
          <td><%= document.name %></td>
          <td><%= document.position %></td>
          <td><%= link_to t('document.link_download'), document.file.url(:original, false), target: '_blank' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= link_to t('document.link_back'), file_groups_path %>
