<p>
  <strong><%= t 'group.name' %>:</strong>
  <%= @file_group.name %>
</p>

<p>
  <strong><%= t 'group.description' %>:</strong>
  <%= @file_group.description %>
</p>

<p>
  <strong><%= t 'group.position' %>:</strong>
  <%= @file_group.position %>
</p>
<% if @file_group.documents.present? %>
  <h2><%= t 'document.title' %></h2>
  <% @file_group.documents.each do |document| %>
    <p>
      <strong><%= t 'document.name' %>:</strong>
      <%= document.name %>
    </p>

    <p>
      <strong><%= t 'document.file' %>:</strong>
      <%= document.file %>
    </p>

    <p>
      <strong><%= t 'document.position' %>:</strong>
      <%= document.position %>
    </p>
    <br>

     <p>
       <%= link_to t("document.link_download"), document.file.url(:original, false), target: '_blank' %>
     </p>
    <br>
  <% end %>
<% end %>
<br>
<%= link_to t('document.link_back'), file_groups_path %>
