<h2>
  <%= t('group.name') %>:
  <strong><%= @file_group.name %></strong>
</h2>

<h4>
  <strong><%= t('group.description') %>:</strong>
  <%= @file_group.description %>
</h4>

<p>
  <strong><%= t('group.position') %>:</strong>
  <%= @file_group.position %>
</p>
<br>
<br>

<% if @file_group.documents.present? %>
  <h2><%= t('document.title') %></h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('document.name') %></th>
        <th><%= t('document.file') %></th>
        <th><%= t('document.position') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @file_group.documents.each do |document| %>
        <tr>
          <td><%= document.name %></td>
          <td><%= document.file %></td>
          <td><%= document.position %></td>
          <td><%= link_to t('document.link_download'), document.file.url(:original, false), target: '_blank' %></td>
          <td><%= link_to t('document.link_edit'), [:edit_organization_admin, @file_group, document], method: :get %></td>
          <td><%= link_to t('index.destroy'), [:organization_admin, @file_group, document], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<br>
<br>


<h2><%= t('document.add') %>:</h2>
  <%= form_for([:organization_admin, @file_group, @file_group.documents.build], html: { multipart: true }) do |f| %>
  <p>
    <%= f.label t('document.name') %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t('document.file') %><br>
    <%= f.file_field :file %>
  </p>
  <p>
    <%= f.label t('document.position') %><br>
    <%= f.number_field :position %>
  </p>
  <p>
    <%= f.submit t('document.submit')%>
  </p>
<% end %>

<br>
<br>
<br>
<%= link_to t('document.link_back'), organization_admin_file_groups_path %>
