<p>
  <strong><%= t('group.name') %>:</strong>
  <%= @file_group.name %>
</p>

<p>
  <strong><%= t('group.description') %>:</strong>
  <%= @file_group.description %>
</p>

<p>
  <strong><%= t('group.position') %>:</strong>
  <%= @file_group.position %>
</p>
<% if @file_group.documents.present? %>
  <h2><%= t('document.title') %></h2>
  <% @file_group.documents.each do |document| %>
    <p>
      <strong><%= t('document.name') %>:</strong>
      <%= document.name %>
    </p>

    <p>
      <strong><%= t('document.file') %>:</strong>
      <%= document.file %>
    </p>

    <p>
      <strong><%= t('document.position') %>:</strong>
      <%= document.position %>
    </p>
    <br>

     <p>
       <%= link_to t('document.link_download'), document.file.url(:original, false), target: '_blank' %>
     </p>
    <br>

    <p>
      <%= link_to t('index.destroy'), [:organization_admin, @file_group, document], method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <br>
  <% end %>
<% end %>



<h2><%= t('document.add') %>:</h2>
<%= form_for([:organization_admin, @file_group, @file_group.documents.build], html: { multipart: true }) do |f| %>
  <p>
    <%= f.label t('document.name') %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t('document.file') %><br>
    <%= f.file_field :file %>
  </p>
  <p>
    <%= f.label t('document.position') %><br>
    <%= f.number_field :position %>
  </p>
  <p>
    <%= f.submit t('document.submit')%>
  </p>
<% end %>
<br>
<br>
<br>
<%= link_to t('document.link_back'), organization_admin_file_groups_path %>
